<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ site.data.resume.title }}</title>
  </head>
  <body>
    <div>
      <h2>{{ site.data.resume.title }}</h2>
      {{ page.content }}
    </div>
  </body>
</html>
